body {
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    line-height: 1.2;
    color: #fff;

    font-size: 18px;
    font-weight: 400;

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}


/* ============================================Header============================================ */

.header {
    padding-top: 21px;

    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;

}

.header__swiper {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.header__swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.header__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}





/* ==========================================Header-top========================================== */

.header__top {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.container {}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 55px;
    height: 55px;
}

.header__logo img {
    width: 100%;
    min-width: 55px;
}

.header__nav {}

.header__nav-list {
    display: flex;
    gap: 32px;

}


.header__nav-item {}

.header__nav-link {
    transition: all .4s;
}

.header__nav-link:hover {
    color: #ffb548;
}


.header__links {
    display: flex;
    align-items: center;
}

.header__language {
    position: relative;
}

.header__language:hover .header__language-list {
    opacity: 1;
    visibility: visible;
}

.header__language-link::after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: #fff;
    margin: 0 23px;
}

.header__language-link {
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all .4s;
}

.header__language-link:hover {
    color: #ffb548;
}

.header__language-link svg,
.header__language-link path,
.header__language-list {
    transition: all .2s;
}

.header__language:hover path {
    stroke: #ffb548;
}


.header__language:hover svg {
    transform: rotate(180deg);
}

.header__language-list {
    position: absolute;
    top: 90%;
    left: -5%;
    border-radius: 3px;
    background: #000000bf;
    padding: 10px 20px 10px 6px;
    opacity: 0;
    visibility: hidden;
}

.header__language-item {
    margin-bottom: 10px;
    transition: all .4s;
}

.header__language-item:hover {
    color: #ffb548;
}

.header__language-item:last-child {
    margin-bottom: 0;
}

.header__links-icons {
    display: flex;
    gap: 17px;
}

.header__links-icons path {
    transition: all .4s;
}

.header__links-icons a:hover path {
    fill: #fff;
}


/* ===============================================Header__main=============================================== */


.header__main {}

.header__main-inner {
    font-family: "Bebas Neue";
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header__main-title {}

.header__main-subtitle {
    font-family: "Open Sans";
    font-size: 24px;
    letter-spacing: 0.08em;
    margin-bottom: 30px;
}

.header__main-button {}

.header__main-button>span {
    width: 1px;
    height: 24px;
    background-color: #1A1917;
    display: block;
    margin: 0 14px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #1a1917;
    background-color: #f3af34;
    padding: 18px;
    border-radius: 4px;
    text-transform: none;
    transition: all .4s;
}

.button:hover {
    background: #fff;
}

.header__footer {
    margin: 0 auto;
}

.header__footer-link {
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;
    text-transform: uppercase;
    transition: all .2s;

}

.header__footer-link path {
    transition: all .2s;
}

.header__footer-link:hover {
    color: #f3af34;
}

.header__footer-link:hover path {
    stroke: #f3af34;
}


.main {
    height: 100vh;
    background-color: #1A1917;
}